/*global elements*/
body,html{
	background:#fff;
	font-size:24px;
	color:#0b0a09;
	font-family: Oswald;
}
body.mode-test{
	1background: #f0f;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button{
	font-family: Oswald;
}
.test-link,
ul.nav-primary li.test-link,
#device-info{
	display:none;
}
#device-info{
	display:block1;
}
body,
.ui-body-c, .ui-overlay-c,
.ui-page-active.ui-page-panel{
	background:none;
	background-color:#fff;
}

*:not(input):not(textarea) {
	-webkit-user-select: none; /* disable selection/Copy of UIWebView */
	-webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}  

a{
	text-decoration:underline;
	cursor:pointer;
	font-size:48px;
}
a:link,
a:visited,
a:hover,
a:active{
	color:inherit;
}
ul{
	margin:0;
	padding:0;	
}
li{
	list-style:none;	
}

	.ui-page .ui-header.header-primary {
		overflow:hidden;
		background: #fff !important;
		background: rgba(255,255,255,0.9) !important;
		height:90px;
		border:0;
	}
	
		.ui-page .ui-header.header-primary h2{
			font-size:1.5em;
			color:#fff;
			text-shadow:none;
			font-weight:bold;
			width:80%;
			margin: 0.4em 10% 0.6em;
		}
		.header-primary.ui-header-fixed .ui-btn-left,
		.header-primary.ui-header-fixed .ui-btn-right,
		.header-primary a{
			position:absolute;
			left:31px;
			top:28px;
		}
		.ui-header-fixed .ui-btn-left, 
		.header-primary a#panel-left{
			width:348px;
			height:35px;
			display:block;
			background:transparent url(../img/btn-header.jpg) no-repeat 0 0;
			background:none;
			overflow:hidden;
		}
		.header-primary .header-links{
			text-shadow:0 -1px 0 #31363a;
		}
			.header-primary .header-links i{
				color:#31363a;
				font-size: 1.0em;
				float: left;
				line-height: 0.8em;
			}
			.header-primary .header-links span{
				color: #31363a;
				font-size: 0.75em;
				float: left;
				font-family: Oswald;
				font-weight: 400;
				text-transform: uppercase;
				line-height: 1em;
				letter-spacing: 3px;
				margin-left: 14px;
			}
			.header-primary .panel-left i{
				
			}
			.header-primary .panel-left span{
			}
		
		.header-primary.ui-header-fixed .ui-btn-right,
		.header-primary a.panel-right{
			left:auto;
			right:26px;
			top:25px;
			width:348px;
			height:45px;
			display:block;
			overflow:hidden;
		}
	
			.header-primary .panel-right i{
				float:right;
				line-height: 1em;
			}
			.header-primary .panel-right span{
				float:right;
				margin: 3px 13px 0 0;
			}
	
	
	.content-main{
		
	}
	.content-main.ui-content{
		background:#fff;
	}
	

