		#map {
			width:640px;
			height:433px;

			width:600px;
			height:406px;
			margin: 0 auto;
			padding-left:10px;
		}
		.content-main p{
			color:#000;
			font-size:1.5em;
			font-weight:bold;
			width: 60%;
		}
		
		.main-refresh{
			overflow:hidden;
			font-family:Andada;
			top: -16px;
			position: relative;
		}
			.main-refresh span.refresh-count{
				float:left;
				color:#c85129;
				font-size:2.9em;
				line-height:1em;
				
			}
			.main-refresh span.refresh-label{
				clear:both;
				float:left;
				color:#313639;
				font-size:2.1em;
			}
			.main-refresh i.fa{
				float:right;
				margin-right:32px;
				color:#d5d8d7;
				font-size:2.1em;
				top:82px;
				position:relative;
			}
			.main-refresh i.fa:hover{
				color:#313738;
			}
		ul.feed{
			margin-top:12px;
			margin-left:-5%;
			width:110%;
		}
		
			ul.feed li.feed-item{
				margin-top:10px;
				margin-top:0;
				clear:both;
				position:relative;
				height: 201px;
				min-width:640px;
				border-bottom:1px solid #d5d8d7;
				background: #da490a;
				background:#dd5a15 url(../img/phone-version.png?ver=1213) no-repeat 0 0;
				-1webkit-backface-visibility: hidden;
				visibility:hidden2;
			}
			ul.feed li.feed-item.version-1{
				background:url(../img/phone-version-1.png) no-repeat 0 0;
			}
			ul.feed li.feed-item.version-2{
				background:url(../img/phone-version-2.png) no-repeat 0 0;
			}
			ul.feed li.feed-item.version-3{
				background:url(../img/phone-version-3.png) no-repeat 0 0;
			}
			ul.feed li.feed-item.version-4{
				background:url(../img/phone-version-4.png) no-repeat 0 0;
			}
			ul.feed li.feed-item.version-5{
				background:url(../img/phone-version-5.png) no-repeat 0 0;
			}
			ul.feed li.feed-item.first{
				margin-top:0;
				border-top:1px solid #d5d8d7;
			}

			ul.feed li.feed-item.hideFeedItem{
				animation: hideFeedItem 0.7s;
				-webkit-animation: hideFeedItem 0.7s;
			}
				@keyframes hideFeedItem{
					from {height:201px;}
					to {height:0;}
				}
				@-webkit-keyframes hideFeedItem{
					from {height:201px;}
					to {height:0;}
				}		



			ul.feed li.feed-item.fetch{
				display:none;
			}
				ul.feed li.feed-item .feed-prayer-instruction{
					right: 45px;
					position: absolute;
					top: 21px;
					width: 66px;
					height:158px;
					background:transparent url(../img/pray-then-swipe.png) no-repeat 0 0;
					display:none;
				}
				ul.feed li.feed-item.show-tutorial .feed-prayer-instruction{
					display:block;
				}
				ul.feed li.feed-item .feed-prayer-confirmation{
					left: 203px;
					position: absolute;
					top: 59px;
					min-width: 200px;
					font-size: 2.9em;
					color: white;
										
					font-family: Andada;
					font-style: normal;
				}
				ul.feed li.feed-item.swipe-complete .feed-prayer-confirmation{
					width:100%;	
				}
				
				ul.feed li.feed-item.swipe-complete .feed-prayer-confirmation,
				ul.feed li.feed-item.swipe-complete .feed-prayer-instruction{
					display:none;
				}


				body.1version-1 ul.feed li.feed-item .feed-prayer-confirmation{
					display:none;
				}
				ul.feed li.feed-item{
					min-height:0;
				}

				ul.feed li.feed-item.swipe-complete{
					min-height:0;
				
				}
				
				body.1version-3 ul.feed li.feed-item.swipe-complete .feed-prayer-confirmation{
					top:10px;
				}
				
				ul.feed li.feed-item ul{
					overflow:hidden;	
				}
				ul.feed{
					margin-left:100px;	
				}
				ul.feed li.feed-item .feed-content{
					position:relative;
					overflow:hidden;
					background:#fff;
					height:181px;
					padding:10px 0;
					opacity:1;
					width:400px;
					border:2px solid red;
					float: left;
					display:block;
				}
				
				ul.feed li.feed-item .feed-content-li-first{
					border:2px solid blue;
					float: left;
					width:400px;
				}
				ul.feed li.feed-item .feed-content-li-last{
					border:2px solid blue;
					float: left;
					width:400px;
				}
				
				ul.feed li.feed-item .feed-content.swipeLeftToRight{
					animation: swipeLeftToRight 1s;
					-webkit-animation: swipeLeftToRight 1s;
				}
					@keyframes swipeLeftToRight{
						from {left:0;}
						to {left:100%;}
					}
					@-webkit-keyframes swipeLeftToRight{
						from {left:0;}
						to {left:100%;}
					}		

				ul.feed li.feed-item .feed-content.swipeRightToLeft{
					animation: swipeRightToLeft 1s;
					-webkit-animation: swipeRightToLeft 1s;
				}
					@keyframes swipeRightToLeft{
						from {left:0;}
						to {left:-100%;}
					}
					@-webkit-keyframes swipeRightToLeft{
						from {left:0;}
						to {left:-100%;}
					}		

					ul.feed li.feed-item p.action-text{
						padding:0 10%;
						font-size:1.3em;
						padding:12px 10% 0 45px;
						width:60%;
						width:460px;
						color:#313639;
						text-shadow:none;
						float:left;
						font-family:Oswald;
						font-size:1.3em;
						color: #313738;
						line-height: 50px;
						letter-spacing: 3px;
						width:62%;
						line-height:1.1em;
						font-weight:300;
						position:relative;
					}
					.action-step{
						display:block;
						width:112px;
						height:112px;
						background:url(../img/feed-steps.jpg) no-repeat 0 0;
						float:right;
						right: 42px;
						position: relative;
						top: 35px;
					}
						.action-step.step-2{
							background-position:0 -112px;
						}
						.action-step.step-3{
							background-position:0 -224px;
						}
					
		.content-main p.feed-text {
			font-size: 1em;
			color: #313639;
			display: block;
			width: 100%;
			text-align: center;
			padding: 1% 0;	
		}
		.content-main p.feed-refresh{
			display:none;
		}
			.content-main p.feed-refresh span{
					
			}
			.content-main p.feed-refresh i{
				margin-right:5px;
			}
		.content-main p.no-more-items{
			display:none;
		}
					

