		#map {
			width:640px;
			height:433px;

			width:600px;
			height:406px;
			margin: 0 auto;
			padding-left:10px;
		}
		.content-main p{
			color:#000;
			font-size:1.5em;
			font-weight:bold;
			width: 60%;
		}
		
		.main-refresh{
			overflow:hidden;
			font-family:Andada;
			top: -16px;
			position: relative;
			margin-left:14px;
		}
			.main-refresh span.refresh-count{
				float:left;
				color:#c85129;
				font-size:2.9em;
				line-height:1em;
				
			}
			.main-refresh span.refresh-label{
				clear:both;
				float:left;
				color:#313639;
				font-size:2.1em;
			}
			.main-refresh span.refresh-subtext{
				clear:both;
				float:left;
				color:#707e80;
				font-size:1.3em;
			}
			.main-refresh i.fa{
				float:right;
				margin-right:32px;
				color:#d5d8d7;
				font-size:2.1em;
				top:111px;
				position:relative;
			}
			.main-refresh i.fa:hover{
				color:#313738;
			}
		ul.feed{
			margin-top:12px;
			margin-left:-5%;
			width:110%;
		}
		
			ul.feed li.default-content{
				margin-top:10px;
				clear:both;
				position:relative;
				min-width:594px;
				padding-left:46px;
				display:none;
			}
			ul.feed li.default-content.spinner{
				text-align:center;
			}
			ul.feed.status-loading li.default-content.spinner{
				display:block;
			}
				ul.feed li.default-content.spinner i{
					font-size:96px;
					font-size:8em;
					padding:0;
					color:#eaedec;
					margin-top:20px;
				}
				body.model-family-iphone5 ul.feed li.default-content.spinner i{
					margin-top:107px;
					margin-top:85px;
				}
			ul.feed li.feed-item{
				margin-top:10px;
				margin-top:0;
				clear:both;
				position:relative;
				height: 201px;
				min-width:640px;
				border-bottom:1px solid #d5d8d7;
				background: #da490a;
				background:#dd5a15 url(../img/phone-version.jpg) no-repeat 0 0;
				-1webkit-backface-visibility: hidden;
				visibility:hidden2;
			}
			ul.feed li.feed-item.version-1{
				background-image:url(../img/phone-version-1.jpg);
			}
			ul.feed li.feed-item.version-2{
				background-image:url(../img/phone-version-2.jpg);
			}
			ul.feed li.feed-item.version-3{
				background-image:url(../img/phone-version-3.jpg);
			}
			ul.feed li.feed-item.version-4{
				background-image:url(../img/phone-version-4.jpg);
			}
			ul.feed li.feed-item.version-5{
				background-image:url(../img/phone-version-5.jpg);
			}
			ul.feed li.feed-item.first{
				margin-top:0;
				border-top:1px solid #d5d8d7;
			}

			ul.feed li.feed-item.hideFeedItem{
				animation: hideFeedItem 0.7s;
				-webkit-animation: hideFeedItem 0.7s;
			}
				@keyframes hideFeedItem{
					from {height:201px;}
					to {height:0;}
				}
				@-webkit-keyframes hideFeedItem{
					from {height:201px;}
					to {height:0;}
				}		



			ul.feed li.feed-item.fetch{
				display:none;
			}
				ul.feed li.feed-item .feed-prayer-instruction{
					right: 5%;
					position: absolute;
					top: 21px;
					width: 66px;
					height:158px;
					background:transparent url(../img/pray-then-swipe.png) no-repeat 0 0;
					display:none;
				}
				body.model-iphone ul.feed li.feed-item .feed-prayer-instruction{
					right:45px;
				}
				ul.feed li.feed-item.show-tutorial .feed-prayer-instruction{
					display:block;
				}
				ul.feed li.feed-item .feed-prayer-confirmation{
					left: 203px;
					position: absolute;
					top: 59px;
					min-width: 200px;
					font-size: 2.9em;
					color: white;
										
					font-family: Andada;
					font-style: normal;
				}
				ul.feed li.feed-item.swipe-complete .feed-prayer-confirmation{
					width:100%;	
				}
				
				ul.feed li.feed-item.swipe-complete .feed-prayer-confirmation,
				ul.feed li.feed-item.swipe-complete .feed-prayer-instruction{
					display:none;
				}


				ul.feed li.feed-item{
					min-height:0;
				}

				ul.feed li.feed-item.swipe-complete{
					min-height:0;
				
				}
				
			ul.feed li.feed-item .feed-content{
					position:relative;
					overflow:hidden;
					background:#fff;
					background:transparent;
					height:181px;
					height:100%;
					padding:10px 0;
					padding:0;
					opacity:1;
					
					1width: 400px;
					1border: 2px solid red;
					float: left;
					display: block;
				}
				
					ul.feed li.feed-item .feed-content ul{
						overflow:hidden;
					}
						ul.feed li.feed-item .feed-content ul li{
							float:left;
							display:block;
							width:655px;
						}
						ul.feed li.feed-item .feed-content ul li.feed-content-placeholder{
							height:100px;
						}
						ul.feed li.feed-item .feed-content ul li.feed-content-left{
							
						}
						ul.feed li.feed-item .feed-content ul li.feed-content-right{
							
						}
						ul.feed li.feed-item .feed-content ul li.feed-content-main{
							height: 201px;
							background: white;
						}
				
				ul.feed li.feed-item .feed-content.swipeLeftToRight{
					animation: swipeLeftToRight 1s;
					-webkit-animation: swipeLeftToRight 1s;
				}
					@keyframes swipeLeftToRight{
						from {left:0;}
						to {left:100%;}
					}
					@-webkit-keyframes swipeLeftToRight{
						from {left:0;}
						to {left:100%;}
					}		

				ul.feed li.feed-item .feed-content.swipeRightToLeft{
					animation: swipeRightToLeft 1s;
					-webkit-animation: swipeRightToLeft 1s;
				}
					@keyframes swipeRightToLeft{
						from {left:0;}
						to {left:-100%;}
					}
					@-webkit-keyframes swipeRightToLeft{
						from {left:0;}
						to {left:-100%;}
					}		

					ul.feed li.feed-item p.action-text{
						padding:0 10%;
						font-size:1.3em;
						padding:12px 10% 0 45px;
						padding:12px 0px 0 5%;
						width:60%;
						1background:blue;
						display:block;
						color:#313639;
						text-shadow:none;
						float:left;
						font-family:Oswald;
						font-size:1.3em;
						color: #313738;
						line-height: 50px;
						letter-spacing: 3px;
						line-height:1.1em;
						font-weight:300;
						position:relative;
						
						width:460px;
					}
					body.model-iphone ul.feed li.feed-item p.action-text{
						padding-left:45px;
					}
					.action-step{
						display:block;
						width:112px;
						height:112px;
						background:url(../img/feed-steps.jpg) no-repeat 0 0;
						float:right;
						right: 5%;
						position: relative;
						top: 45px;

						1background:green;
					}
					body.model-iphone .action-step{
						right: 42px;
					}
						.action-step.step-2{
							background-position:0 -112px;
						}
						.action-step.step-3{
							background-position:0 -224px;
						}
					
		.content-main p.feed-text {
			font-size: 1em;
			color: #313639;
			display: block;
			width: 100%;
			text-align: center;
			padding: 1% 0;	
		}
		.content-main p.feed-refresh{
			display:none;
		}
			.content-main p.feed-refresh span{
					
			}
			.content-main p.feed-refresh i{
				margin-right:5px;
			}
		.content-main p.no-more-items{
			display:none;
		}
					

		
		.refresh-count{
			-webkit-transform: rotate (-90);
		}
		
		
	/* Tablet Landscape styles */
	body.orientation-landscape.platform-tablet .mypanel-left.ui-panel,
	body.orientation-landscape.model-ipad .mypanel-left.ui-panel{
		width: 408px;
		visibility: visible;
		position: absolute;
		z-index: 9999999;
	}
	body.orientation-landscape.platform-tablet .mypanel-right.ui-panel,
	body.orientation-landscape.model-ipad .mypanel-right.ui-panel{
		width: 552px;
		visibility: visible;
		z-index: 9999999;
		position: absolute;
	}
	body.orientation-landscape.platform-tablet .ui-page .ui-header.header-primary,
	body.orientation-landscape.model-ipad .ui-page .ui-header.header-primary{
		left: 408px;
	}
	body.orientation-landscape.platform-tablet .ui-panel-content-wrap,
	body.orientation-landscape.model-ipad .ui-panel-content-wrap{
		left:408px;
		position:relative;
	}
	body.orientation-landscape.platform-tablet .content-main.ui-content,
	body.orientation-landscape.model-ipad .content-main.ui-content{
		padding: 1%;
	}
			body.orientation-landscape.platform-tablet ul.feed,
			body.orientation-landscape.model-ipad ul.feed{
				margin-left:-1%;
				width:102%;
				margin-left:-2%;
				width:102%;
				
				
			}
	
			
				body.orientation-landscape.platform-tablet ul.feed li.feed-item,
				body.orientation-landscape.model-ipad ul.feed li.feed-item{
					
					}
					
body.model-ipad ul.feed li.feed-item,
body.orientation-landscape.platform-tablet ul.feed li.feed-item{
	background-image:url(../img/tablet-version.jpg);
	background-size: 100% 100%;
	overflow:hidden;
	background-size: 100% auto;
}

body.model-ipad ul.feed li.feed-item.version-1,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-1{
	background-image:url(../img/tablet-version-1.jpg);
}
body.model-ipad ul.feed li.feed-item.version-2,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-2{
	background-image:url(../img/tablet-version-2.jpg);
}
body.model-ipad ul.feed li.feed-item.version-3,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-3{
	background-image:url(../img/tablet-version-3.jpg);
}
body.model-ipad ul.feed li.feed-item.version-4,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-4{
	background-image:url(../img/tablet-version-4.jpg);
}
body.model-ipad ul.feed li.feed-item.version-5,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-5{
	background-image:url(../img/tablet-version-5.jpg);
}

					

