ul.event-calendar li .event-title p.event-description {
	
}

/*	register-login.css	*/
					body.test-mode-enabled #login-brian,
					body.test-mode-enabled #login-jon,
					body.test-mode-enabled #register-dev{
						display:block;
					}
/*	feed.css	*/
				body.model-iphone ul.feed li.feed-item .feed-prayer-instruction{
					right:45px;
				}

				


/*	panels.css	*/
.dialog-updates{
	z-index: 999999;
}
.mypanel-right .section-refresh{
	visibility:hidden;
	display:none;
}
.toggle-stats{
	width:200px;
}
	.toggle-stats ul{
		width:100%;
		border-radius: 3px;
	}
		.toggle-stats ul li{
			width:100%;	
		}
		.toggle-stats ul li.friends-impact{
			display:none;	
		}
.mypanel-right .section-total-saved span.user-count{
	visibility:hidden;
}	
/*	tutorial.css	*/
body.page-events #content-tutorial,
body.page-settings #content-tutorial{
	display:none;
}






					#register-dev,
					#login-brian{
						1display:block;
					}

					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
					
	/* Tablet Landscape styles */
	body.orientation-landscape.platform-tablet .mypanel-left.ui-panel,
	body.orientation-landscape.model-ipad .mypanel-left.ui-panel{
		width: 408px;
		visibility: visible;
		position: absolute;
		z-index: 9999999;
	}
	body.orientation-landscape.platform-tablet .mypanel-right.ui-panel,
	body.orientation-landscape.model-ipad .mypanel-right.ui-panel{
		width: 552px;
		visibility: visible;
		z-index: 9999999;
		position: absolute;
	}
	body.orientation-landscape.platform-tablet .ui-page .ui-header.header-primary,
	body.orientation-landscape.model-ipad .ui-page .ui-header.header-primary{
		left: 408px;
	}
	body.orientation-landscape.platform-tablet .ui-panel-content-wrap,
	body.orientation-landscape.model-ipad .ui-panel-content-wrap{
		left:408px;
		position:relative;
	}
	body.orientation-landscape.platform-tablet .content-main.ui-content,
	body.orientation-landscape.model-ipad .content-main.ui-content{
		padding: 1%;
		padding:15px;
	}
			body.orientation-landscape.platform-tablet ul.feed,
			body.orientation-landscape.model-ipad ul.feed{
				margin-left:-1%;
				width:102%;
				
				margin-left:-2%;
				width:102%;
				
				margin-left:-8%;
				width:110%;
				
				
			}
	
			
				body.orientation-landscape.platform-tablet ul.feed li.feed-item,
				body.orientation-landscape.model-ipad ul.feed li.feed-item{
					
					}
					
body.model-ipad ul.feed li.feed-item,
body.orientation-landscape.platform-tablet ul.feed li.feed-item{
	background-image:url(../img/tablet-version.jpg);
	background-size: 100% 100%;
	overflow:hidden;
	background-size: 100% auto;
}

body.model-ipad ul.feed li.feed-item.version-1,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-1{
	background-image:url(../img/tablet-version-1.jpg);
}
body.model-ipad ul.feed li.feed-item.version-2,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-2{
	background-image:url(../img/tablet-version-2.jpg);
}
body.model-ipad ul.feed li.feed-item.version-3,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-3{
	background-image:url(../img/tablet-version-3.jpg);
}
body.model-ipad ul.feed li.feed-item.version-4,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-4{
	background-image:url(../img/tablet-version-4.jpg);
}
body.model-ipad ul.feed li.feed-item.version-5,
body.orientation-landscape.platform-tablet ul.feed li.feed-item.version-5{
	background-image:url(../img/tablet-version-5.jpg);
}

					
			#tutorial-5 .tutorial-cta{
				top: 70px;
			}
			#tutorial-5 .tutorial-text{
				top: 135px;
			}
			#tutorial-6 .tutorial-cta{
				top: 275px;
			}
			#tutorial-6 .tutorial-text{
				top: 260px;
			}
			#tutorial-7 .tutorial-cta{
				left:200px;
				top: 470px;
			}
			#tutorial-7 .tutorial-text{
				left:125px;
				top: 345px;
			}
			#tutorial-8 .tutorial-cta{
				top: 470px;
			}
			#tutorial-8 .tutorial-text{
				top: 440px;
			}
			#tutorial-9 .tutorial-cta{
				top: 610px;
			}
			#tutorial-9 .tutorial-text{
				top: 613px;
			}
#tutorial-8{
	display:none	
}

.tutorial-page-stats .tutorial-toggle a{
	left:155px;	
}




/*register*/
#form-login .fieldset-btn .fieldset-col-1{
	float:right;
	width: 100%;
}
	#form-login .fieldset-btn .fieldset-col-1 a{
		float:right;
		margin:10px 5px 0 0;
	}
#forgot .fieldset-btn .fieldset-col-1{
	display:none;
}
	#forgot .fieldset-btn .btn-primary{
		padding:9px 35px 12px;
	}
	#forgot .fieldset-btn .btn-secondary{
		padding:9px 35px 12px;
	}

	
	
	
	
.fieldset-btn .btn-primary{
	position:relative;
}	
	.fieldset-btn .btn-primary i{
		position: absolute;
		right: 17px;
		top: 21px;
		color: #fff;
		display:none;
	}	
	#form-registration.submitting .fieldset-btn .btn-primary i,
	#form-login.submitting .fieldset-btn .btn-primary i{
		display:block;
	}	

	
	
.footer-primary p{
	text-shadow: 1px 1px 1px #fff;
}
	
	
	
	
	
	
	
	
	
	
/*MEDIA QUERIES*/
ul.feed li.feed-item {
	background-size: 100% auto;
}	
#map {
	padding-left: 0;
	width: 100%;
	text-align: center;
}	


.mypanel-left .ui-panel-inner{
	
}
::-webkit-scrollbar {
    display: none;
}


@media (max-width: 630px) {
	body{
		font-size: 0.6em;
	}
	.ui-page .ui-header.header-primary{
		height:60px;	
	}
	.ui-content{
		padding-top:0;	
	}
	.page-register-login h3 {
		display: block;
		width: 140px;
		height: 134px;
		margin:24px auto 26px;
		background-size:100% auto;
	}
	input.input-text{
		width:238px;
		margin-top: 12px;
		padding:10px 11px 11px;
	}
	select.input-select{
		width:262px;
		margin-top: 12px;
		padding:10px 11px 11px;
	}
	.fieldset{
		width:262px;
	}
	.fieldset-btn {
		margin: 14px auto 0;
	}
	.fieldset-btn .btn{
		padding:5px 25px 6px;
	}
	.fieldset-btn .btn-primary i{
		right: 3px;
		top: 11px;
	}
	
	
	
	.header-primary .header-links span{
		font-size:0.4em;	
	}
	.header-primary .header-links i{
		font-size:0.6em;	
	}
	
	ul.feed{
		border-top:1px solid #d5d8d7;
	}
	ul.feed li.feed-item{
		width: 320px;
		height: 100px;
		background-size: auto 100%;	
	}
	ul.feed li.feed-item.hideFeedItem{
		animation: hideFeedItem 0.7s;
		-webkit-animation: hideFeedItem 0.7s;
	}
	ul.feed li.feed-item.first{
		border-top:0;	
	}
	ul.feed li.feed-item.version-2 {
		background-image: url(../img/phone-320-version-2.jpg);
	}
		@keyframes hideFeedItem{
			from {height:102px;}
			to {height:0;}
		}
		@-webkit-keyframes hideFeedItem{
			from {height:102px;}
			to {height:0;}
		}
		ul.feed li.default-content{
			min-width:247px;
			padding-left: 23px;
		}
		ul.feed li.default-content.spinner{
			padding-left:0;
		}
			ul.feed li.default-content.spinner i{
				font-size:5em;
			}

	ul.feed li.feed-item .feed-prayer-confirmation{
		left: 101px;
		top: 30px;
		font-size:2.2em;
	}
	ul.feed li.feed-item .feed-content{
		width:320px;
	}
	ul.feed li.feed-item .feed-prayer-instruction{
		top: 10px;
		width: 33px;
		height: 79px;
		background-size: auto 100%;
		
		right: auto;
		left: 280px;
	}
	ul.feed li.feed-item .feed-content ul li{
		width:328px;	
	}
	ul.feed li.feed-item .feed-content ul li.feed-content-main {
		height: 100px;
		position: relative;
	}
		ul.feed li.feed-item p.action-text{
			width:230px;
			position: absolute;
			font-size: 1.1em;
			line-height: 1.2em;
		}
		.action-step{
			top:25px;
			background-size:100% auto;
			right:10px;
			position: absolute;
			width: 56px;
			height: 56px;
		}
	

		.footer-primary p{
			font-size:1.3em;	
		}
		.footer-primary em.prayer-count{
			width: 90px;
			margin: 0 0 0 16px;
			background: black;
		}

		.footer-primary ul.feed-share-list{
			margin:0 9px 0 0;
		}
			.footer-primary ul li{
				width:39px;
				height:39px;
			}
			.footer-primary ul li i{
				font-size: 1.2em;
				line-height: 40px;
			}
			.footer-primary ul li.feed-share-twitter i {
				font-size: 0.9em;
				line-height: 42px;
			}
			.footer-primary ul li a{
				left: 0px;
				font-size: 1.4em;
			}
			.footer-primary ul li.feed-share-sms i{
				line-height: 47px;
			}
		
		
		.mypanel-right .section-your-impact{
			height:125px;
		}
		.section-updates ul.stats-updates li {
			width: 90%;
			margin-top:15px;
		}
			.section-updates ul.stats-updates li span{
				line-height: 25px;
			}
		.mypanel-right .section-your-impact .impact-col {
			width: 65px;
		}
		.mypanel-right .section-your-impact .impact-col2{
			width: 90px;
			margin:0 10px;
		}
		.mypanel-right span.total-user-count {
			font-size: 1.2em;
		}
		.mypanel-right .section-your-impact .impact-col span.total-user-count{
			line-height:16px;	
		}
		.mypanel-right .section-your-impact .impact-col .impact-step {
			min-height: 52px;
		}
		.mypanel-right span.step-label{
			font-size: 0.9em;
			text-shadow:1px 1px 1px #000;
		}
		
		.mypanel-right .section-your-impact .impact-col2 .stats-logo{
			background-size: 100% auto;
			width:90px;
			height:90px;
		}
		
			.mypanel-right .section-your-impact .impact-col2 .stats-logo .stats-logo-arc{
				width: 44px;
				height: 44px;
				background-size: 200% auto;
			}
			.mypanel-right .section-your-impact .impact-col2 .stats-logo .stats-logo-arc.step-called{
				top: 1px;
				background-position:-43px 0;
			}
			.mypanel-right .section-your-impact .impact-col2 .stats-logo .stats-logo-arc.step-scheduled{
				background-position:-43px -43px;
			}
			.mypanel-right .section-your-impact .impact-col2 .stats-logo .stats-logo-arc.step-visited-prc{
				background-position:0 -43px;
				left:1px;
			}
			.mypanel-right .section-your-impact .impact-col2 .stats-logo .stats-logo-arc.step-chose-life{
				left:1px;
				top: 1px;
			}


			
			
			
			
			
			
			
			.header-primary.ui-header-fixed .ui-btn-left, .header-primary a#panel-left{
				width: 100px;
			}
			.header-primary.ui-header-fixed .ui-btn-right, .header-primary a.panel-right{
				width: 130px;
			}
			


			.mypanel-left h2.logo {
				width: 108px;
				height: 94px;
				margin: 20px 0 0 46px;
				margin: 20px 0 0 56px;
				background-size:100% auto;
				top: -260px;
			}
			ul.nav-primary{
				margin-top:27px;
			}
				ul.nav-primary li{
					width:200px;
					height:93px;
				}
				ul.nav-primary li.test-link1{
					display:none;
				}
				
				ul.nav-primary li a i{
					font-size:33px;
					margin-top:13px;
					left: -0px;
				}
				ul.nav-primary li a span{
					font-size: 0.45em;
					left: 0;
				}

				ul.nav-primary li.nav-events a i{
					font-size: 30px;
					left: -0px;
					top: 5px;
					margin: 13px 0 4px;
				}
				ul.nav-primary li.nav-settings a i{
					font-size: 32px;
					left: -0px;
					top: 5px;
					margin: 12px 0 5px;
				}





			
			.ui-panel {
				width: 222px;
			}
			 
			.ui-panel.ui-panel-position-right {
				width: 240px;
				text-shadow:2px 2px 2px #000;
			}
			 
			.ui-panel.ui-panel-closed {
				width: 0;
			}
			 
			.ui-panel-position-left {
				left: -222px
			}
			 
			.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
				-webkit-transform: translate3d(-222px, 0, 0);
				-moz-transform: translate3d(-222px, 0, 0);
				transform: translate3d(-222px, 0, 0)
			}
			 
			.ui-panel-position-right {
				right: -240px;
			}
			 
			.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
				-webkit-transform: translate3d(240px, 0, 0);
				-moz-transform: translate3d(240px, 0, 0);
				transform: translate3d(240px, 0, 0)
			}
			 
			.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open, .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open, .ui-panel-dismiss-position-left.ui-panel-dismiss-open {
				left: 222px;
				right: -240px;
			}
			 
			.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
				-webkit-transform: translate3d(222px, 0, 0);
				-moz-transform: translate3d(222px, 0, 0);
				transform: translate3d(222px, 0, 0)
			}
			 
			.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,
			.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open, .ui-panel-dismiss-position-right.ui-panel-dismiss-open {
				left:auto;
				right: 240px;
			}
			 
			.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
				-webkit-transform: translate3d(-240px, 0, 0);
				-moz-transform: translate3d(-240px, 0, 0);
				transform: translate3d(-240px, 0, 0)
			}
			 
			@media (min-width:55em) {
				.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
					margin-right: 240px;
				}
			 
				.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right, .ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
					margin-left: 222px
				}
			}

			
	ul.event-calendar li .event-details p {
		width:260px;	
	}
	ul.settings-list li span {
		font-size: 1.1em;
		letter-spacing: 2.5px;
	}
		.settings-content {
			margin-top: 10px;
		}
		ul.settings-list li .settings-content span {
			letter-spacing: 0.5px;
			font-size: 0.9em;
		}
		.settings-content .ui-controlgroup .ui-checkbox .ui-btn {
			width: 200px;
		}
		ul.settings-list li {
			margin-top: 15px;
		}
		#settings .content-main p{
			width:100%;
		}
		ul.settings-list {
			margin: 16px 0 0 14px;
		}
		.icon-settings p{
			margin-top:14px;
		}
		
	
}


