#content-tutorial{
	width:100%;
	display:none;
	position:absolute;
	z-index:999999;
}
#content-tutorial.tutorial-enabled{
	display:block;
}
#content-tutorial.tutorial-open{
	height:100%;
}
	.tutorial-toggle{
		position:absolute;
		top:10px;
		width:100%;
	}
		.tutorial-toggle a{
			position:absolute;
			left:272px;
		}
		#content-tutorial.tutorial-closed a.tutorial-hide,
		#content-tutorial.tutorial-open a.tutorial-show{
			display:none
		}
		.tutorial-toggle a.tutorial-show i{
			color:#EAEDEC;
		}
		.tutorial-toggle a.tutorial-hide i{
			color:#e75629;
		}
		
			.tutorial-toggle a i{
				font-size: 1.5em;
			}

	#content-tutorial.tutorial-open #tutorial-content{
		display:block;
	}
	#tutorial-content{
		display:none;
	}
	
		#content-tutorial #tutorial-tap{
			background:url(../img/tutorial-tap.png) no-repeat 0 0;
			display:none;
			position:absolute;
			left: 360px;
			top: 135px;
			width:488px;
			height:228px;
			
			width:244px;
			height:114px;
			background-size:100% auto;
		}
		#content-tutorial.show-nudge #tutorial-tap{
			display:block;
		}
		#content-tutorial .tutorial-item{
			position:absolute;
		}
		#content-tutorial.tutorial-page-stats .tutorial-item#tutorial-1,
		#content-tutorial.tutorial-page-stats .tutorial-item#tutorial-2,
		#content-tutorial.tutorial-page-stats .tutorial-item#tutorial-3,
		#content-tutorial.tutorial-page-stats .tutorial-item#tutorial-4,
		#content-tutorial.tutorial-page-feed .tutorial-item#tutorial-5,
		#content-tutorial.tutorial-page-feed .tutorial-item#tutorial-6,
		#content-tutorial.tutorial-page-feed .tutorial-item#tutorial-7,
		#content-tutorial.tutorial-page-feed .tutorial-item#tutorial-8,
		#content-tutorial.tutorial-page-feed .tutorial-item#tutorial-9{
			display:none;
		}
		
			#content-tutorial .tutorial-item .tutorial-cta{
				position: absolute;
				color: #e75629;
				font-size: 2.5em;
			}
			#content-tutorial .tutorial-item .tutorial-cta span{
				font-style:normal;
				color:#fff;
				text-shadow:none;
				width: 100%;
				display: block;
				text-align: center;
				font-size: 1.8em;
			}
			#content-tutorial .tutorial-item .tutorial-text{
				background:#313839;
				padding:3px;
				font-size:1em;
				position:absolute;
				width: 200px;
				display:none;
			}
			#content-tutorial .tutorial-item.item-open .tutorial-text{
				display:block;
			}
			
				#content-tutorial .tutorial-item .tutorial-text span{
					color:#fff;
					text-shadow:none;
					display:block;
					padding:5px;
				}
				#content-tutorial .tutorial-item .tutorial-text.align-left span{
					text-align:left;
				}
				#content-tutorial .tutorial-item .tutorial-text.align-right span{
					text-align:right;
				}
				#content-tutorial .tutorial-item .tutorial-text.align-center span{
					text-align:center;
				}
				 
		
				
			
				
				
				
				
		#tutorial-1{
			
		}
			#tutorial-1 .tutorial-cta{
				left: 555px;
				top: 230px;
			}
			#tutorial-1 .tutorial-text{
				left: 341px;
				top: 218px;
			}
		#tutorial-2{
		}
			#tutorial-2 .tutorial-cta{
				left:240px;
				top:505px;
			}
			#tutorial-2 .tutorial-text{
				left: 165px;
				top: 410px;
			}
		#tutorial-3{
		}
			#tutorial-3 .tutorial-cta{
				left:290px;
				top:660px;
			}
			#tutorial-3 .tutorial-text{
				left: 355px;
				top: 640px;
			}
		#tutorial-4{
		}
			#tutorial-4 .tutorial-cta{
				left:440px;
				top:845px;
			}
			#tutorial-4 .tutorial-text{
				left: 225px;
				top: 845px;
			}
			
	

#modal-screen.screen-tutorial{
	background:rgba(255,255,255,0.65)	
}
