#content-tutorial{
	width:100%;
	display:none;
	position:absolute;
	z-index:999999;
}
#content-tutorial.tutorial-enabled{
	display:block;
}
#content-tutorial.tutorial-open{
	height:100%;
}
	.tutorial-toggle{
		position:absolute;
		top:10px;
		width:100%;
	}
		.tutorial-toggle a{
			position:absolute;
			left:272px;
		}
		#content-tutorial.tutorial-closed a.tutorial-hide,
		#content-tutorial.tutorial-open a.tutorial-show{
			display:none
		}
		.tutorial-toggle a.tutorial-show i{
			color:#EAEDEC;
		}
		.tutorial-toggle a.tutorial-hide i{
			color:#f00;
		}
		
			.tutorial-toggle a i{
				font-size: 1.5em;
			}




	#content-tutorial.tutorial-open #tutorial-content{
		display:block;
	}
	#tutorial-content{
		display:none;
	}
		#content-tutorial .tutorial-item{
			position:absolute;
		}
			#content-tutorial .tutorial-item .tutorial-cta{
				position: absolute;
				color: #e75629;
				font-size: 3em;
			}
			#content-tutorial .tutorial-item .tutorial-cta span{
				font-style:normal;
				color:#fff;
				text-shadow:none;
				width: 100%;
				display: block;
				text-align: center;
				font-size: 1.8em;
			}
			#content-tutorial .tutorial-item .tutorial-text{
				background:#313839;
				padding:3px;
				font-size:1em;
				position:absolute;
				width: 200px;
				display:none;
			}
			#content-tutorial .tutorial-item.item-open .tutorial-text,
			#content-tutorial .tutorial-item.auto-open-true .tutorial-text{
				display:block;
			}
			
				#content-tutorial .tutorial-item .tutorial-text span{
					color:#fff;
					text-shadow:none;
					display:block;
					padding:5px;
				}
				#content-tutorial .tutorial-item .tutorial-text.align-left span{
					text-align:left;
				}
				#content-tutorial .tutorial-item .tutorial-text.align-right span{
					text-align:right;
				}
				#content-tutorial .tutorial-item .tutorial-text.align-center span{
					text-align:center;
				}
				 
		
				
				
				
				
				
				
		#tutorial-1{
			
		}
			#tutorial-1 .tutorial-cta{
				left: 555px;
				top: 230px;
			}
			#tutorial-1 .tutorial-text{
				left: 341px;
				top: 218px;
			}
		#tutorial-2{
		}
			#tutorial-2 .tutorial-cta{
				left:240px;
				top:490px;
			}
			#tutorial-2 .tutorial-text{
				left: 180px;
				top: 395px;
			}
		#tutorial-3{
		}
			#tutorial-3 .tutorial-cta{
				left:290px;
				top:660px;
			}
			#tutorial-3 .tutorial-text{
				left: 380px;
				top: 655px;
			}
		#tutorial-4{
		}
			#tutorial-4 .tutorial-cta{
				left:440px;
				top:845px;
			}
			#tutorial-4 .tutorial-text{
				left: 225px;
				top: 845px;
			}

#modal-screen.screen-tutorial{
	background:rgba(255,255,255,0.65)	
}
